<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OurMsgServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OurMsgServer.Properties.Settings>
            <setting name="TcpMessagePort" serializeAs="String">
                <value>6500</value>
            </setting>
            <setting name="SqlConStr" serializeAs="String">
                <value>Data Source=127.0.0.1;User id=sa;password=liggyi;Initial Catalog=OurMsg;</value>
            </setting>
            <setting name="ImageServerPath" serializeAs="String">
                <value>ImageServer/</value>
            </setting>
            <setting name="TcpFilePort" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="UdpFilePort" serializeAs="String">
                <value>53</value>
            </setting>
            <setting name="UdpAVPort" serializeAs="String">
                <value>54</value>
            </setting>
        </OurMsgServer.Properties.Settings>
    </userSettings>
</configuration>